manifest {
    name            = 'nWGS_pipeline'
    author          = 'Christian D. Bope'
    homePage        = 'https://github.com/VilhelmMagnusLab/nWGS_pipeline'
    description     = 'Merge bam file from nanopore, epi2me(SV calling, modified base calling, CNV calling), analysis(MGMT, classifier (sturgeon, nanoDX), structure variant)'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0dev'
}

params {
    // Pipeline options
    input    = null
    outdir   = './results'

    //run mode
    run_mode_epi2me = false
    run_mode_analysis = false
    run_mode_mergebam = false
    run_order_mode = false
    
    // Default parameters
    max_cpus   = 16
    max_memory = '128.GB'
    max_time   = '240.h'
}

// If run_mode_all is set, enable all valid modes
if (params.run_order_mode) {
    params.run_mode_mergebam = true
    params.run_mode_epi2me = 'all'
    params.run_mode_analysis = 'rmd'
    
    // Force sequential execution when in order mode
    executor {
        queueSize = 1
    }
    
    // Add process dependencies
    process {
        withName: 'epi2me' {
            beforeScript = { task.attempt == 1 ? 'sleep 1' : '' }
            maxForks = 1
        }
        withName: 'analysis' {
            beforeScript = { task.attempt == 1 ? 'sleep 1' : '' }
            maxForks = 1
        }
    }
}

// Load config by default for all pipelines
if (params.run_mode_epi2me) {
    includeConfig 'conf/epi2me.config'
}

if (params.run_mode_analysis) {
    includeConfig 'conf/analysis.config'
}

if (params.run_mode_mergebam) {
    includeConfig 'conf/mergebam.config'
}

// Add singularity profile
// Profiles
profiles {
    // Singularity for epi2me
    epi2me_auto_singularity {
        process {
            executor = 'local'
        }
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "-B /home/chbope/miniconda3/envs/mut_env/bin:/usr/local/bin -B /home/chbope/"
            cacheDir = "singularity-images"

        }
        env.PATH = "/home/chbope/miniconda3/envs/mut_env/bin:$PATH"
        CURL_CA_BUNDLE = "/etc/ssl/certs/ca-certificates.crt" 
    }

    // Singularity for analysis
    analysis_auto_singularity {
        process {
            executor = 'local'
        }
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "-B /home/chbope/miniconda3/envs/mut_env/bin:/usr/local/bin -B /home/chbope/"
            cacheDir = "singularity-images"

        }
    }

    // Singularity for mergebam
    mergebam_auto_singularity {
        process {
            executor = 'local'
        }
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "-B /home/chbope/miniconda3/envs/mut_env/bin:/usr/local/bin -B /home/chbope/"
            cacheDir = "singularity-images"

        }
    }

    // Conda profile
    conda {
        process {
            conda.enabled = true
        }
    }
}

// Automatically apply Singularity profiles
if (!params.profile) {
    if (params.run_mode_epi2me) {
        params.profile = 'epi2me_auto_singularity'
    }
    if (params.run_mode_analysis) {
        params.profile = params.profile ? "${params.profile},analysis_auto_singularity" : 'analysis_auto_singularity'
    }
    if (params.run_mode_mergebam) {
        params.profile = params.profile ? "${params.profile},mergebam_auto_singularity" : 'mergebam_auto_singularity'
    }
}
