params {
    path = "/home/chbope/extension"
    input_path = "${params.path}"
    output_path = "${params.path}/results"
    annotate_dir = "/home/chbope/extension/data/annotations"
    config_dir = "/home/chbope/Documents/nanopore/packages/knotannotsv/knotAnnotSV"
    ref_dir ="/home/chbope/extension/data/reference"
    model_path="/home/chbope/extension/Data_for_Bope"
    clair3_dir="/home/chbope/Documents/nanopore/Data_for_Bope/results/sample_id1/callvariantclair3/clair3_output"
    humandb_dir="/home/chbope/extension/data/annovar/humandb"
    clairSTo_dir="/home/chbope/Documents/nanopore/Data_for_Bope/results/sample_id1/callvariantclairsto/clairsto_output"
    svanna_dir="/home/chbope/extension/data/svanna-cli-1.0.4/"
    bin_dir="/home/chbope/Documents/nanopore/nextflow/bin/"
    epi2me_dir="/home/chbope/Documents/nanopore/epi2me/wf-human-variation-master/"
    out_dir_epi2me ="/home/chbope/extension/out_dir_epi2me"
    ncbirefseq = "${params.ref_dir}/ncbiRefSeq.txt.gz"

// input reference files for all samples

    reference_genome = "${params.ref_dir}/GCF_000001405.39_GRCh38.p13_genomic_chr_only_plus_mt.fa"
    reference_genome_bai = "${params.ref_dir}/GCF_000001405.39_GRCh38.p13_genomic_chr_only_plus_mt.fa.fai"

    occ_fusions= "${params.ref_dir}/OCC.fusions.bed"
    epicsites= "${params.ref_dir}/EPIC_sites_NEW.bed"
    mgmt_cpg_island_hg38= "${params.ref_dir}/MGMT_CpG_Island.hg38.bed"

    occ_snv_screening= "${params.ref_dir}/OCC.SNV.screening.bed"
    tertp_variants= "${params.ref_dir}/TERTp_variants.bed"
    refgene = "${params.humandb_dir}/hg38_refGene.txt"
    hg38_refgenemrna = "${params.humandb_dir}/hg38_refGeneMrna.fa"
    clinvar = "${params.humandb_dir}/hg38_clinvar_20240611.txt"
    clinvarindex= "${params.humandb_dir}/hg38_clinvar_20240611.txt.idx"
    hg38_cosmic100= "${params.humandb_dir}/hg38_cosmic100coding2024.txt"
    hg38_cosmic100index = "${params.humandb_dir}/hg38_cosmic100coding2024.txt.idx"
    knotannotsv_conf = "${params.config_dir}/config_AnnotSV.yaml"
    occ_fusion_genes_list = "${params.ref_dir}/occ_fusions_genes.txt"
    convertvariant_config =  "${params.ref_dir}/annotsv2.json"
    occ_genes =  "${params.ref_dir}/OCCgenes.rds"
    vcf2circos_json =  "${params.ref_dir}/options.json"
    sturgeon_model =  "${params.ref_dir}/general.zip"
    hg19_450model =  "${params.ref_dir}/nanoDx/static/hg19_450model.bed"
    nanodx_450model =  "${params.ref_dir}/nanoDx/static/Capper_et_al_NN.pkl"
    nanodx_dictinaire =  "${params.ref_dir}/nanoDx/static/Capper_et_al_dictionary.txt"
    nn_model =  "${params.ref_dir}/nanoDx/workflow/envs/NN_model.yaml"
    snakefile_nanodx =  "${params.ref_dir}/nanoDx/workflow/Snakefile"
    sub_snakefile =  "${params.ref_dir}/nanoDx/workflow/methylation.snakefile"
    tr_bed_file =  "${params.ref_dir}/human_GRCh38_trf.bed" 
    epi2me_config_file =  "/home/chbope/Documents/nanopore/epi2me/wf-human-variation-master/nextflow.config"
    epi2me_base_config_file = "/home/chbope/Documents/nanopore/epi2me/wf-human-variation-master/base.config"
    analyse_sample_id_file = params.run_order_mode ? null : "${params.path}/Data_for_Bope/sample_ids.txt"
    mardown_logo = "/home/chbope/Downloads/log_update.pdf"
    occ_bam_folder ='/home/chbope/extension/Data_for_Bope/single_bam_folder/occ_bam'
    bedmethyl_folder='/home/chbope/extension/Data_for_Bope/bedmethyl/'
    segsfromepi2me_folder='/home/chbope/extension/Data_for_Bope/segs/'
    sv_folder='/home/chbope/extension/Data_for_Bope/sv/'
    nanodx_workflow_dir='/home/chbope/Documents/nanopore/packages/nanoDx/workflow'
    merge_bam_folder= "/home/chbope/extension/Data_for_Bope/single_bam_folder/merge_bam"

}

process {
    // Default settings for all processes
    executor = 'local'
    
    // Process-specific settings using withName
    withName: 'ace_tmc' {
        container = '/home/chbope/extension/images/ace_tmc_latest.sif'
    }
    
    withName: 'annotatecnv' {
        container = '/home/chbope/extension/images/annotcnv_images_27feb1025_latest.sif'
    }
    
    withName: 'clairs_to' {
        container = '/home/chbope/extension/images/clairs-to_latest.sif'
    }
    
    withName: 'clair3' {
        container = '/home/chbope/extension/images/clair3_latest.sif'
    }
    
    withName:sturgeon {
        container = '/home/chbope/extension/images/sturgeon_amd64_21jan_latest.sif'
    }

    withName:igv_tools {
        container = '/home/chbope/extension/images/igv_report_amd64_latest.sif'
    }

    withName:circosplot {
        container = '/home/chbope/extension/images/vcf2circos_latest.sif'
    }

    withName:run_nn_classifier {
        container = '/home/chbope/extension/images/nanodx_env_latest.sif'
    }

    withName:markdown_report {
        container = '/home/chbope/extension/images/markdown_images_28feb2025_latest.sif'
    }

    withName:cramino_report {
        container = '/home/chbope/extension/images/mgmt_nanopipe_amd64_18feb2025_cramoni_latest.sif'
    }
}

// Workflow-specific settings
workflow {
    // Settings for specific workflows if needed
    withName: 'analysis' {
        // analysis workflow settings
    }
    
    withName: 'epi2me' {
        // epi2me workflow settings
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /home/chbope/"

}

 conda {

    enabled = true

   }

