params {
    // Input folder
    path = "/home/chbope/extension"
    
    // Epi2me paths
    epi2me_dir="/home/chbope/Documents/nanopore/epi2me/wf-human-variation-master/"
    episv ="${path}/results/epi2me/episv"
    epimodkit ="${path}/results/epi2me/epimodkit"
    epicnv ="${path}/results/epi2me/epicnv"
    
    // Reference files
    reference_genome = "${path}/data/reference/GCF_000001405.39_GRCh38.p13_genomic_chr_only_plus_mt.fa"
    reference_genome_bai = "${path}/data/reference/GCF_000001405.39_GRCh38.p13_genomic_chr_only_plus_mt.fa.fai"
    tr_bed_file = "${path}/data/reference/human_GRCh38_trf.bed"
    
    // Other paths
    epi2me_config_file = "/home/chbope/Documents/nanopore/nextflow/pipeline/configs/epi2me.config"
    merge_bam_folder = "${params.path}/testdata/single_bam_folder/merge_bam"
    epi2me_sample_id_file = "${path}/testdata/sample_ids.txt"

    // Workflow-specific parameters
    help = false
    version = false

    // Input and output settings
    out_dir = "output"
    bam = null
    ref = null
    bed = null
    bam_min_coverage = 0.2

    // Feature flags
    help = false
    version = false

    disable_ping = false
    threads = 4

    aws_image_prefix = null
    aws_queue = null

    out_dir = "output"

    // feature flags
    snp = false
    sv = false
    mod = false
    cnv = false
    str = false

    // benchmark feature flags
    sv_benchmark = false
    sv_benchmark_vcf = null
    sv_benchmark_bed = null

    // common
    bam = null
    ref = null
    bed = null
    out_dir = "output"
    bam_min_coverage = 0.2
    downsample_coverage = false
    downsample_coverage_target = 60
    downsample_coverage_margin = 1.1
    depth_window_size = 25000
    output_gene_summary = false
    haplocheck = false
    mitogenome = null
    igv = false

    /// common
    ubam_map_threads = 8
    ubam_sort_threads = 3
    ubam_bam2fq_threads = 1

    // annotation
    annotation = true

    // snp
    override_basecaller_cfg = null
    clair3_model_path = null // used for overriding the guessed clair3 model
    // workflow options
    use_longphase = false
    // clair3 parameters
    sample_name = "SAMPLE"
    ctg_name = null
    include_all_ctgs = false
    ref_pct_full = 0.1
    var_pct_full = 0.7
    GVCF = false
    base_err = 0.001
    gq_bin_size = 5
    snp_min_af = 0.08
    indel_min_af = 0.15
    vcf_fn = null
    min_contig_size = 0
    min_mq = 5
    min_cov = 2
    min_qual = 2
    refine_snp_with_sv = true

    // sv
    tr_bed= null
    // filterCalls
    min_sv_length = 30
    min_read_support = "auto"
    min_read_support_limit = 2
    // sniffles2 options
    cluster_merge_pos = 150
    sniffles_args = null

    // qdnaseq cnv
    use_qdnaseq = true
    qdnaseq_bin_size = 50

    // mod
    modkit_args = null
    force_strand = false
    modkit_threads = 4

    //str
    sex = null

    // output
    depth_intervals = false
    phased = false
    output_report = true
    output_xam_fmt = "cram"

    // nfcore
    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf,min_read_support,min_read_support_limit,fastq_only'

    wf {
        name = "wf-human-variation"
        template_version = "195cab5"
        example_cmd = [
            "--bam 'wf-human-variation-demo/demo.bam'",
            "--ref 'wf-human-variation-demo/demo.fasta'",
            "--bed 'wf-human-variation-demo/demo.bed'",
            "--sample_name 'DEMO'",
            "--snp",
            "--sv",
            "--mod",
            "--phased"
        ]
        agent = null
    }
}

manifest {
    name            = 'epi2me-labs/wf-human-variation'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-human-variation'
    description     = 'SNV calling, SV calling, modified base calling, CNV calling, and STR genotyping of human samples.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '2.4.1'
}

epi2melabs {
    tags = "human,variant calling,whole genome"
    icon = "faIdCard"
}


process {
    // Default container for pipeline1
    container = '/home/chbope/Documents/nanopore/epi2me/wf-human-variation-master/wf-human-variation_latest.sif'

    withLabel:wf_human_sv {
        container = '/home/chbope/extension/images/snifflesv252_update_latest.sif'
    }

    withLabel:wf_human_mod {
        container = '/home/chbope/Documents/nanopore/epi2me/wf-human-variation-master/modkit_latest.sif'
    }

    withLabel:wf_cnv {
        container = '/home/chbope/Documents/nanopore/epi2me/wf-human-variation-master/wf-cnv_latest.sif'
    }

    withLabel:wf_human_snp {
        container = '/home/chbope/extension/images/wf-human-variation-snp_latest.sif'
    }

    withLabel:wf_human_str {
        container = '/home/chbope/extension/images/wf-human-variation-str_latest.sif'
    }

    withLabel:snpeff_annotation {
        container = '/home/chbope/extension/images/snpeff_latest.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
//    runOptions = "-B /home/chbope/.conda/envs/singularity_env/bin"
    runOptions = "-B /home/chbope/miniconda3/envs/mut_env/bin"
}

env {
//    PATH = "/home/chbope/.conda/envs/singularity_env/bin:$PATH"
    PATH = "/home/chbope/miniconda3/envs/mut_env/bin:$PATH"
    PYTHONNOUSERSITE = 1
    JAVA_TOOL_OPTIONS = "-Xlog:disable -Xlog:all=warning:stderr"
    RUST_BACKTRACE = 1
}

timeline {
    enabled = true
    file = "${params.out_dir}/execution/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.out_dir}/execution/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.out_dir}/execution/trace.txt"
    overwrite = true
}
