params {
    // Base directory that can be overridden by users
    base_dir = "$projectDir"
    
    // Input and output directories relative to base_dir
    input_dir = "${params.base_dir}/testdata/single_bam_folder"
    merge_bam_dir = "${params.input_dir}/merge_bam"
    occ_bam_dir = "${params.input_dir}/occ_bam"
    
    // Resource files
    roi_bed = "${params.base_dir}/data/reference/OCC.protein_coding.bed"
    bam_sample_id_file = "${params.base_dir}/testdata/sample_ids_bam.txt"
    
    // Computational resources
    threads = 12
}

process {
    // Default settings for all processes
    executor = 'local'
    
    // Use container registry paths instead of local paths
    // You should push these containers to a public registry like Docker Hub
    container = 'vilhelmmagnuslab/mgmt_nanopipe:latest'    
    
}

singularity {
    enabled = true
    autoMounts = true
    // Use $projectDir instead of hardcoded path
    runOptions = "-B \$projectDir"
}

conda {
    enabled = true
}