params {
    path = "/home/chbope/extension"
    input_dir = "${params.path}/testdata/single_bam_folder" // Base directory containing Sample_ID folders
    merge_bam_dir = "${params.path}/testdata/single_bam_folder/merge_bam" // Directory to store merged BAM files
    occ_bam_dir = "${params.path}/testdata/single_bam_folder/occ_bam"
    threads = 12 // Number of threads for samtools operations
    roi_bed = "${params.path}/data/reference/OCC.protein_coding.bed"
    bam_sample_id_file = "${params.path}/testdata/sample_ids_bam.txt"

}




process {
    // Default settings for all processes
    executor = 'local'
    
    // Default container for analysis
    container = '/home/chbope/extension/images/mgmt_nanopipe_amd64_26spet_jdk_igv_python_plotly_snakemake_torch_latest.sif'

    
    // Process-specific settings using withName
    withName: 'ace_tmc' {
        container = '/home/chbope/extension/images/ace_images_10mars2025_latest.sif'
        cpus = 4
        memory = '8 GB'
        containerOptions = '--bind /home/chbope/extension'
    }
    
    withName: 'annotatecnv' {
        container = '/home/chbope/extension/images/annotcnv_images_27feb1025_latest.sif'
    }
    
    withName: 'clairs_to' {
        container = '/home/chbope/extension/images/clairs-to_latest.sif'
    }
    
    withName: 'clair3' {
        container = '/home/chbope/extension/images/clair3_latest.sif'
    }
    
    withName:sturgeon {
        container = '/home/chbope/extension/images/sturgeon_amd64_21jan_latest.sif'
    }

    withName:igv_tools {
        container = '/home/chbope/extension/images/igv_report_amd64_latest.sif'
    }

    withName:circosplot {
        container = '/home/chbope/extension/images/vcf2circos_latest.sif'
    }

    withName:run_nn_classifier {
        container = '/home/chbope/extension/images/nanodx_images_3feb25_latest.sif'
        containerOptions = "-B ${params.nanodx_workflow_dir}:${params.nanodx_workflow_dir} -B /home/chbope/extension/trash/tmp:/home/chbope/extension/trash/tmp"
    }

    withName:markdown_report {
        container = '/home/chbope/extension/images/markdown_images_28feb2025_latest.sif'
    }

    withName:cramino_report {
        container = '/home/chbope/extension/images/mgmt_nanopipe_amd64_18feb2025_cramoni_latest.sif'
    }
}


singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /home/chbope/"

}

 conda {

    enabled = true

   }