params {
    input_dir = "/home/chbope/extension/Data_for_Bope/single_bam_folder" // Base directory containing Sample_ID folders
    merge_bam_dir = "/home/chbope/extension/Data_for_Bope/single_bam_folder/merge_bam" // Directory to store merged BAM files
    occ_bam_dir = "/home/chbope/extension/Data_for_Bope/single_bam_folder/occ_bam"
    threads = 12 // Number of threads for samtools operations
    roi_bed = "/home/chbope/extension/data/reference/OCC.protein_coding.bed"
    bam_sample_id_file = "/home/chbope/extension/Data_for_Bope/sample_ids_bam.txt"
}



process {
    // Default container for pipeline2
    container = '/home/chbope/extension/images/mgmt_nanopipe_amd64_26spet_jdk_igv_python_plotly_snakemake_torch_latest.sif'

    withName:annotesv {
        container = '/home/chbope/extension/images/annotsv_3.3.4--py311hdfd78af_1.sif'
    }

    withName:clair3 {
        container = '/home/chbope/extension/images/clair3_latest.sif'
    }

    withName:clairs_to {
        container = '/home/chbope/extension/images/clairs-to_latest.sif'
    }

    withName:sturgeon {
        container = '/home/chbope/extension/images/sturgeon_amd64_21jan_latest.sif'
    }

    withName:igv_tools {
        container = '/home/chbope/extension/images/igv_report_amd64_latest.sif'
    }

    withName:circosplot {
        container = '/home/chbope/extension/images/vcf2circos_latest.sif'
    }

    withName:run_nn_classifier {
        container = '/home/chbope/extension/images/nanodx_images_29jan25_latest.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
//    runOptions = "-B  /home/chbope/miniconda3/envs/mut_env/bin"

//    runOptions = "-B /home/chbope/extension"
}

//singularity {
//    executor = 'local'
//    enabled = true
//    autoMounts = true
//    singularity.enabled = true
//            //envWhitelist = "" // if your cluster sets a variable to indicate which GPU has been assigned you will want to allow it here
//        }
        // keep stub conda profile to prevent unknown profile warning so users get a better error
 conda {

    enabled = true

   }

